<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
	  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <connectionStrings>
    <add name="SyncEmp.Properties.Settings.WolfApproveCore_MBKISOConnectionString"
      connectionString="Data Source=.;Initial Catalog=WolfApproveCore.MBKISO;Persist Security Info=True;User ID=sa;Password=pass@word1"
      providerName="System.Data.SqlClient" />
    <add name="SyncEmp.Properties.Settings.WolfApproveCore_MK_uatConnectionString"
      connectionString="Data Source=DESKTOP-MTFBHTV\SQLEXPRESS;Initial Catalog=WolfApproveCore.MK-uat;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
      <add key="filename" value="D:\P.ben\SyncEmp_MK\Data\EmployeeISO.xlsx"/>
	  <add key="Pathmove" value="D:\P.ben\SyncEmp_MK\Data\out"/>
      <add key="Connectionstring" value="Data Source=DESKTOP-MTFBHTV\SQLEXPRESS;Initial Catalog=WolfApproveCore.MK-uat;Persist Security Info=True;User ID=sa;Password=pass@word1" />
      <add key="LogFile" value="D:\P.ben\SyncEmp_MK\log\" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>